@import "variables";

body {
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;

  @at-root .container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    @at-root .slider {
      width: 100%;
      height: 100%;
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: 100vw 100vw;
      background-image: url("../../images/pattern-curve.svg");
      background-repeat: no-repeat;
      background-position: bottom 0px left 0px;
      background-size: 80% auto;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;

      @at-root &::-webkit-scrollbar {
        display: none;
      }

      @at-root .slide {
        width: 100%;
        display: grid;
        grid-auto-flow: row;
        grid-auto-rows: 1fr 1fr;
        scroll-snap-align: start;
        gap: 20px;

        @at-root .slide__text-section {
          grid-row: 2/3;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 20px;
          padding-top: 35px;

          @at-root .slide__testimoni {
            text-align: center;
            font-family: $inter;
            width: 85%;
            font-size: 1.12rem;
            color: $dark-blue;
            line-height: 1.3;
            position: relative;

            @at-root .slide__quote-icon {
              width: 70px;
              aspect-ratio: 120/100;
              background-image: url(../../images/pattern-quotes.svg);
              background-size: 100% auto;
              background-repeat: no-repeat;
              position: absolute;
              inset: -35px 50%;
              transform: translateX(-50%);
            }
          }

          @at-root .slide__profile {
            display: flex;
            flex-direction: column;
            gap: 5px;

            @at-root .slide__name {
              font-family: $inter;
              font-weight: 700;
              text-align: center;
              font-size: 1.12rem;
              color: $dark-blue;
            }

            @at-root .slide__role {
              font-family: $inter;
              text-align: center;
              color: $grayish-blue;
            }
          }
        }

        @at-root .slide__image-section {
          grid-row: 1/2;
          background-image: url("../../images/pattern-bg.svg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: 85% auto;
          position: relative;

          @at-root .slide__img-container {
            position: relative;
            inset: 50% 50%;
            transform: translate(-50%, -50%);
            max-width: 350px;
            width: 65%;
            aspect-ratio: 1/1;
          }

          @at-root .slide__img {
            width: 100%;
            height: 100%;
            border-radius: 5px;
            box-shadow: 0px 20px 30px -10px rgba($color: $dark-blue, $alpha: 0.3);
          }

          @at-root .button {
            width: 90px;
            height: 45px;
            background-color: white;
            border-radius: 100px;
            display: flex;
            box-shadow: 0 10px 15px 0px rgba($color: black, $alpha: 0.2);
            position: absolute;
            inset: auto 50% -20px;
            transform: translateX(-50%);
            z-index: 3;

            @at-root .button__btn {
              flex-basis: 100%;
              background-repeat: no-repeat;
              background-position: center;
              transition: all 300ms ease;
              border: none;

              @at-root &:hover {
                cursor: pointer;
                background-color: darken($color: white, $amount: 10%);
              }

              @at-root .button__btn_left {
                background-image: url(../../images/icon-prev.svg);
                border-radius: 100px 0 0 100px;
              }

              @at-root .button__btn_right {
                background-image: url(../../images/icon-next.svg);
                border-radius: 0 100px 100px 0;
              }
            }
          }
        }
      }
    }
  }

  @at-root .attribution {
    position: absolute;
    inset: auto 50% 10px;
    transform: translateX(-50%);
    width: 300px;

    a {
      color: black;
    }
  }
}
